Package: com.twodayslate.slideback
Name: slideback
Depends: libactivator (>= 1.8.3), mobilesubstrate
Conflicts: com.chpwn.appslide
Architecture: iphoneos-arm
Description: Like a back button. But better. AppSlide for iOS7
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
Version: 1.0-1
Installed-Size: 72
